body, html{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: "Muli", "sans-serif";
    background: #B7ADCF;
}
*{
    box-sizing: border-box;
}
div{
    margin:0em;
}
p {
    font-size: 1.25em; 
}
a {
    font-size: 1.25em;
}
h1{
    font-weight: 500;
    font-size: 3em;
    color: #535657;
}
h2{
    font-weight: 500;
    font-size: 2.5em;
    color: #535657;
}
h3{
    font-weight: 500;
    color: #535657;
    font-size: 1.5em;
}
.heading{
    height: 10vh;
    text-align: center;
    background: #DEE7E7 ;
    padding: 2em;
}

/* Text in the heading*/
.heading a{
    margin: 0 10px;
    color: #4F646F;
    position: relative;
    text-decoration: none;
}

.article{
    text-align: center;
}
.article p{
    text-align: justify;
    position: relative;
    margin: auto;
    width: 50%;
    color: #4F646F;
}


.testpic{
    padding: 20px;
    width: 365px;
    height: 276px;
}