body, html{

    margin:0;
    padding:0;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: "Muli", sans-serif;
    background: #B7ADCF;
}
*{
    box-sizing: border-box;
}
div{
    margin:0em;
}
p {
    font-size: 1.25em; 
}
a {
    font-size: 1.25em;
}
h1{
    font-weight: 500;
    font-size: 2em;
    color: #535657;
}
.heading{
    position: relative;
    height: 10vh;
    text-align: center;
    background:#DEE7E7;
    padding: 2em;
}

/* Text in the heading*/
.heading a{
    margin: 0 15px;
    position: absolute;
    bottom: 0;
    color: #4F646F;
    position: relative;
    text-decoration: none;
}


/* Section containing video */
.homevideo{
    text-align: center;
}

/* h1 tags in the video section*/
.homevideo h1{
    
}

/* Video Size */
.vid{

}

/* Description underneath video*/
.videodesc{
    text-align: center;
    color: #4F646F;
}

/* Text in the video description*/
.videodesc p{
   
}